.add-employee-wrapper {
  width: 100%;
  max-width: 850px;
  height: 270px;

  .row-section {
    display: flex;
    gap: 25px;
    margin-bottom: 20px;

    .form-group {
      display: flex;
      flex-direction: column;
      width: 100%;

      label {
        font-weight: 600;
        margin-bottom: 6px;
      }

      &.half {
        width: 50%;
      }
    }
  }

  /* ============ CUSTOM DROPDOWN ============ */

  .custom-dropdown {
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    background: #fff;

    .dropdown-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 12px;
      font-size: 14px;

      .icon-arrow {
        width: 10px;
        height: 10px;
        border-right: 2px solid #666;
        border-bottom: 2px solid #666;
        transform: rotate(45deg);
        transition: 0.3s ease;
      }
    }

    &.open .icon-arrow {
      transform: rotate(-135deg);
    }

    .dropdown-body {
      background: #f7f7f7;
      max-height: 180px;
      overflow-y: auto;
      padding: 10px 12px;
      border-top: 1px solid #d4d4d4;
      background: #f7f7f7;
      max-height: 180px;
      overflow-y: auto;
      padding: 10px 10px;
      border-top: 1px solid #d4d4d4;
      position: absolute;
      width: 375px;
      box-shadow: 0px 0px 3px #00000029;

      label {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 14px;
        padding: 6px 0;
      }
    }
  }

  /* ============ LOGIN TYPE RADIO ============ */

  .login-type {
    width: 40%;

    .radio-wrap {
      display: flex;
      gap: 20px;
      margin-top: 0px;
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 7px 6px;

      label {
        display: flex;
        align-items: center;
        gap: 6px;
      }
    }
  }

  /* ============ INPUT BOXES ============ */

  input {
    padding: 9px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;

    &:focus {
      border-color: #1a73e8;
    }
  }
}
