<div class="modal-container">
    <h2 class="title">Add Employee Details</h2>

    <form [formGroup]="employeeForm" (ngSubmit)="onNext()" class="form-wrapper">

        <div class="row">
            <!-- USERNAME -->
            <div class="form-group">
                <label>Web/App User Name *</label>
                <input formControlName="userName" type="text" placeholder="Web/App User Name" />
                <small class="error"
                    *ngIf="employeeForm.get('userName')?.touched && employeeForm.get('userName')?.invalid">
                    User Name is required
                </small>
            </div>

            <!-- PASSWORD -->
            <div class="form-group">
                <label>Web/App Password *</label>
                <div class="password-wrapper">
                    <input [type]="showPassword ? 'text' : 'password'" formControlName="password"
                        placeholder="Web/App Password" />
                    <i class="fa" [class.fa-eye]="!showPassword" [class.fa-eye-slash]="showPassword"
                        (click)="togglePassword()"></i>
                </div>

                <small class="error"
                    *ngIf="employeeForm.get('password')?.touched && employeeForm.get('password')?.invalid">
                    Password is required
                </small>
            </div>

            <!-- PASSCODE -->
            <div class="form-group">
                <label>Time Clock Pass Code *</label>
                <input formControlName="passCode" type="text" placeholder="Enter 4 Digit Number Only" />
                <small class="error"
                    *ngIf="employeeForm.get('passCode')?.touched && employeeForm.get('passCode')?.invalid">
                    Pass code must be 4 digits (0-9)
                </small>
            </div>
        </div>

        <!-- Checkbox Row -->
        <div class="row checkbox-row">
            <div class="form-group checkbox-box">
                <label class="check-label">
                    <input type="checkbox" formControlName="enableAppLogin" />
                    <span>Enable App Login</span>
                </label>
            </div>

            <div class="form-group checkbox-box">
                <label class="check-label">
                    <input type="checkbox" formControlName="excludedFromPayroll" />
                    <span>Is excluded from payroll sheet</span>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label>Before Clock In (Minutes)</label>
                <input formControlName="beforeClockIn" type="number" />
            </div>

            <div class="form-group">
                <label>Before Clock Out (Minutes)</label>
                <input formControlName="beforeClockOut" type="number" />
            </div>
        </div>
    </form>
</div>